.header{
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.header img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .header{
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .header{
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.image {
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .image {
        margin-bottom: 15px;
    }
}
.row1banners .image img{
    width: 100%;
    height: auto;
}

.row2banners .image img{
    width: 100%;
    height: auto;
}

.row3blog .image img{
    width: 100%;
    height: auto;
}

.row1banners .text__links,
.row2banners .text__links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row1banners .text__links a,
.row2banners .text__links a{
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-decoration: underline;
}

.row1banners .text h3,
.row2banners .text h3{
    text-transform: uppercase;
    color: #000;
    font-size: 1.3vw;
    margin-bottom: 5px;
}

.row1banners .text p,
.row2banners .text p{
    color: #000;
    font-size: 0.7vw;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.row3blog .text h3{
    font-size: 1vw;
}



@media only screen and (max-width: 800px) and (min-width: 601px) {
    .row1banners .text h3,
    .row2banners .text h3{
        font-size: 26px;
    }
    .row1banners .text p,
    .row2banners .text p{
        font-size: 18px;
    }
    .row1banners .text__links a,
    .row2banners .text__links a{
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .row1banners .text h3,
    .row2banners .text h3{
        font-size: 22px;
    }
    .row1banners .text p,
    .row2banners .text p{
        font-size: 12px;
    }
    .row1banners .text__links a,
    .row2banners .text__links a{
        font-size: 14px;
    }
}