.row1banners{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
    .row1banners{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .row1banners{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
    }
    .row1banners .text{
        height: 110px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .row1banners{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 100px;
    }

    .row1banners .text {
        margin-left: 25px;
    }
}