.row3blog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}
.row3blog a {
    text-decoration: none;
}
.row3blog h4{
    color: #000;
    font-size: 0.8vw;
    font-weight: 400;
    text-transform: none;
    padding-left: 20px;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
    .row3blog{
        display: none;
    }
}
