.slider__tabs {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   margin-bottom: 150px;
   margin-left: 0px;
   margin-right: 0px;
}
.slider__tabs .nav-tabsHP {
    width: 60%;
    margin-left: 50px;
    list-style-type: none;
    z-index: 40;
}


.slider__tabs .nav-tabsHP > li {
    display: inline-block;
    margin-bottom: -1px;
    margin-left: 50px;
}
.slider__tabs .nav-tabsHP > li > a {

   color: #000000;
   font-size: 20px;

   /*  float: left;
    margin-right: 2px;
    line-height: 1.42857143;
    padding: 10px; */
  /*   border: 1px solid transparent;
    border-radius: 4px 4px 0 0; */
}
.slider__tabs .nav-tabsHP > li > a:link,
.slider__tabs .nav-tabsHP > li > a:hover,
.slider__tabs .nav-tabsHP > li > a:visited,
.slider__tabs .nav-tabsHP > li > a:active{
    color: #000000;
}


.slider__tabs .nav-tabsHP > li > a:hover {
    border-color: #eee #eee #ddd;
}
.slider__tabs .nav-tabsHP > li.activatedTab > a, .slider__tabs .nav-tabsHP > li.activatedTab > a:hover, .slider__tabs .nav-tabsHP > li.activatedTab > a:focus {
    color: #555;
    cursor: default;
 /*    background-color: #fff;
    border: 1px solid #ddd; */
    border-bottom-color: transparent;
}
.slider__tabs .tab-content {
   /*  float: left;
    width: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 540px;
}

#tab-2 {
    position: absolute;
    top: 0;
    left: 0;
/*     background-color: white; */
    width: 100%;
    background-color: #fbfbfb;
   /*  display: none; */
}  
.visibilityNone{
    opacity: 0;
    visibility: hidden;
}
/* 
.slider__tabs .tab-content > .activatedTab {
    visibility:visible; */
   /*  display: block; */
/* } */
.nav-tabsHP button{
   
    /* border-bottom: 1px solid black; */
    border: 1px solid transparent;
    background-color: transparent;
    width: 200px;
    height: 50px;
    text-align: left;
    font-size: 1vw;
    cursor: pointer;
    font-family: DINPro;
    text-transform: uppercase;
}

.borderBottomTab{
    border-bottom: 1px solid #000!important;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .slider__tabs {
        margin-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .slider__tabs .nav-tabsHP{
        margin-left: 30px;
        width: 100%;
    }

    .nav-tabsHP button{
        font-size: 18px;
    }
    .slider__tabs .tab-content{
        min-height: 460px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .slider__tabs {
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-tabsHP button{
        font-size: 18px;
        width: 140px;
    }
    .slider__tabs .nav-tabsHP{
        margin-left: 20px;
        width: 100%;
    }
    .nav-tabsHP button{
        font-size: 18px;
    }

    .slider__tabs .tab-content{
        min-height: 400px;
    }
}