
.productCard{
    height: 334px;
    width: 320px;
  
    border-radius: 5px;
}
.productCard__image{
    height: 249px;
    width: 320px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    background-size: contain!important;
    background-color: white;
}
.productCard__title{
    padding: 20px 0px;
}
.productCard__title h4{
    margin-bottom: 20px;
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0;
}
.productCard__title p{
    margin-bottom: 20px;
    font-size: 12px;
}
.productCard__title a:first-of-type {
    margin-right: 20px;
}
.productCardHeight{
    height: 450px;
}

.productCardHeight .firstChildMargin {
    margin-left: 110px;
}

.newColorTag {
    position: absolute;
    top: 10px;
    left: 20px;
    border: 0px solid transparent;
    font-size: 12px;
    width: 100px;
    height: 22px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: #D96400;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .productCardHeight .firstChildMargin {
        margin-left: 30px;
    }
    .productCardHeight {
        height: 375px;
    }
    .productCard__title h4{
       /*  margin-bottom: 20px; */
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
.innerSlider a{
    font-size: 12px;  
}
.productCard__title h4{
    font-size: 12px;  
   margin-bottom: 10px;
}
.productCard__title p{
    font-size: 12px;
}
    .productCardHeight {
        height: 310px;
    }
    .productCard{
        width: 220px;
        height: 266px;
    }
    .productCard__image{
        height: 170px;
        width: 220px;
    }
    .productCardHeight .firstChildMargin {
        margin-left: 30px;
    }
}

